MC_HOST="" # your server IP
MC_PORT="" # your server port

MC_USERNAME="" # bot name

MC_PLATFORM="bedrock" # options: [bedrock or java]

OPENAI_BASE_URL="" # any OpenAI compatible API endpoint
OPENAI_API_KEY="" # your AI API key
AI_MODEL="" # your AI model [e.g. gpt-3.5-turbo, gpt-4, etc..] default: gpt-3.5-turbo

PORT=3000